.container{
    margin: 0 auto;
    background-color: #ffd5c2;
    border: 3px solid rgba(116,120,122,0.61);
}
.header{
    background-image: url("15-Gorgeous-Sites-Built-with-Twitter-Bootstrap.jpg");
    background-size: 100%;
    width: 100%;
    height: 538px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftFlex1{
    background-image: url("1991-Silje_Studio_11år.jpg");
    background-size: 100%;
    width: 100%;
    height: 538px;
    margin-top: 10px;
    margin-right: 10px;
}
.rightFlex2{
    background-color: yellow;
    width: 100%;
    height: 538px;
    margin-top: 10px;
    margin-left:  10px;
}
.leftFlex{
    background-image: url("86612_0.jpg");
    background-size: 100%;
    margin-top: 10px;
    margin-right:  10px;
    height: 490px;
    width: 100%;
}
.rightFlex{
    background-color: #51ffff;
    width: 100%;
    height: 490px;
    margin-top: 10px;
    margin-left:  10px;
}
.content{
    margin-top: 10px;
    background-image: url("блондинка-стоит-на-руках.jpg");
    background-size: 100%;
    width: 100%;
    height: 800px;
}
.footer{
    width: 100%;
    height: 490px;
}
.txt1{
    padding: 180px 140px 0px 20px;
}
.img{
    float: right;
    width: 64px;
    height: 64px;
}
.txt2{
   padding-left: 600px;
    padding-top: 100px;
}
.txt3{
    float: right;
    padding-top: 70px;
    margin-right: 350px;
}
