.all{
    height: auto;
    width: 300px;
    margin:  0px auto;
    background: #30ff8d;
    padding: 10px;
    border-radius: 20px;
}
td{
    width: 50%;
    margin-top: 2px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #1f1dff;
    border-radius: 10px;
    background-color: #51ffff;
}
textarea,
input{
    float: right;
}
.as{
    float: none;
}
img{
    width: 30px;
    height: 20px;
}
.button{
    float: none;
    margin-left: 40%;
}
input[type="submit"]
{
    border:1px solid red;
    border-radius: 10px;
    text-decoration:none;
    color:red;
}
input:hover[type="submit"]
{
    background-color:red;
    color: white;
}

